*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.container {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color{
    height: 100px;
    width: 200px;
    margin: 12px;
    cursor: pointer;
    color: transparent;
}

.border{
    border: 5px solid red;
}


.result{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    font-size: 24px;
}

button{
    width: 100%;
    background-color: #34495e;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.opacity{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50px;
    top: 50px;
}

.opacity span {
    font-size: 20px;
    font-weight: bold; 
}

.opacity label {
    margin-bottom: 1rem;
}


